*  
body{
    margin:0px;
    padding: 0px;
    font-family: poppins;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}



/*Navbar*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    margin: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 100;
    border: 1px solid rgba(0,0,0,0,0.03);
    position: absolute;
    top: 50px;
}

.menu{
    display: flex;
    align-items: right;
}

.menu li a{
    margin: 5px;
    padding: 5px 20px;
    color: #000000;
    font-weight: 500;
    opacity: 0.4;  
    transition: all ease 0.3s;

}
.menu .active{
    opacity: 1;
}
.menu li a:hover{
    opacity: 1;
}

.logo{
    width: 2px;
    height: 2px;
    position: relative;
    bottom: 50px;

}

.icons{
    margin: 0px 10px;

}

.icons a{
    margin: 0px 10px;
}

.icons i{
    color: #2e2e2e;
}

.icons a:hover i{
    color: #6b6b6b;
    transition: all ease 0.2s;

}

/*Hamburger menu*/
.hambnavbar{
    position: fixed;
    top:0; left: -120%;
    z-index: 1000;
    height: 100%;
    background: white;
    padding:3rem;
    width: 30rem;
}

.hambnavbar.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
}

.hambnavbar .user{
    text-align: center;
    margin:3rem auto;
}

.hambnavbar .user img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border:.5rem solid var(--white-color);
    object-fit: cover;
    box-shadow: 5rem 2rem 0 -3rem var(--orange),
                -5rem -2rem 0 -3rem var(--orange);
}

.hambnavbar .user h3{
    padding-top: .5rem;
    color:var(--black-color);
    font-weight: 500;
    font-size: 2rem;
}

.hambnavbar .links a{
    display: block;
    border-bottom: .1rem solid var(--light-color);
    font-size: 2rem;
    padding:1.5rem 0;
    color:var(--black-color);
}

.hambnavbar .links a:last-child{
    border: none;
}

.hambnavbar .links a:hover{
    letter-spacing: .2rem;
    color:var(--orange);
}

.hambnavbar #close{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--black-color);
}

.hambnavbar #close:hover{
    color: var(--orange);
}


/*Main elements*/
#main{
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    bottom: 50px;
    left: 60px;
}

.background-image{
    margin: 0px;
    padding: 0px;
    
}

.background-image-img{
    width: 100%;
    object-fit: cover;
}

.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 70px auto;
}

.main-text{
    max-width: 1000px;
}

.main-text h1{
    width: 700px;
    font-size: 5.2rem;
    font-weight: 1000;
    line-height: 85px;
}

.main-text a{
    width: 360px;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #000;
    color:#000000;
    background-color: #ffffff;
    position: relative;
    left: 550px;
    top: 100px;

}

/*Shortcut to other rooms or products*/
#Shortcut{
    display: flex;
    justify-content: left;
    flex-direction: column;
    position: relative;
    top: 40px;
}

.shortcut-text{
    position: relative;
    left: 350px;

}

.Shortcut-container{
    display: flex;
    margin: auto;
    width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0,0.03);
}

.Shortcut-box{
    position: relative;
    padding: 20px;
}

.Shortcut-box img{
    width: 300px;
    height: 220px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0,0.03);
    transition: all ease 0.3s;
}

.Shortcut-box span{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #000;
}


/*Footer*/
footer .footer-container{
    background:var(--white-color);
    border:.1rem solid var(--light-color);
    border-radius: 0.5rem;
    padding:1rem;
}

footer .footer-container .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:-4rem;
}

footer .footer-container .box-container .box{
    flex:1 1 25rem;
}

footer .footer-container .box-container .box h3{
    font-size: 1rem;
    padding:1rem 0;
}

footer .footer-container .box-container .box a{
    display: block;
    color:var(--black-color);
    font-size: 1rem;
    padding:1rem 0;
    font-weight: 300;
}


footer .footer-container .box-container .box img{
    margin-top: 1rem;
}

footer .footer-container .credit{
    font-size: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: .1rem solid var(--light-color);
    color:var(--black-color);
    text-align: center;
}

/*Mobile version*/
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:1.5rem;
    }

    section{
        padding:1.5rem;
    }

    .main-content .main-text h1{
        font-size: 5rem;
    }

}

@media (max-width:768px){

    header{
        flex-flow: column;
    }

    header form{
        width:100%;
        margin:2rem 0;
    }

    header.active{
        transform: translateY(-12.5rem);
    }

    .main-content .main-text{
        text-align: center;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        text-align: center;
        font-size: 2.5rem;
        border-bottom: none;
    }

}