*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;

}
body{
    margin:0px;
    padding: 0px;
    height: 500px;
    font-family: poppins;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}



/*Nav*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    margin: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 100;
    border: 1px solid rgba(0,0,0,0,0.03);
    position: absolute;
    top: 50px;
}



.logo{
    width: 2px;
    height: 2px;
    position: relative;
    bottom: 50px;

}

.checkout-secured{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 200px;

}

.thank-you{
    position: absolute;
    left: 450px;
    top: 200px;
}

.thank-you p{
    display: flex;
    position: absolute;
    left: 180px;
}

.location{
    position: absolute;
    left: 400px;
    top: 300px;
}

.checked-out-products{
    position: absolute;
    left: 400px;
    top: 800px;
}

.receipt{
    display: flex;
    position: absolute;
    left: 400px;
    top: 1200px;
}

.receipt-total{
    position: absolute;
    left: 550px;
}

.item{
    margin: auto;
    padding: auto;
}

.item h3{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 110px;
    bottom: auto;   
}

.item small{
    width: 200px;
    height: 50px;
    position: absolute;
}

.item p{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 550px;
    bottom: auto;   
}

footer{
    position: absolute;
    top: 1500px;
    left: 200px;
}

